h1, h2{
        margin:0;
        padding:0;
        /* text-align: center; */
    
  }
  p{
    margin-top: 1px;
  }
h1.color{
  color: rgb(8, 100, 100)
}

h2.color{
  color: rgb(8, 100, 100)
}

  /* html {
  text-align: center;
} */

